.btnmenu {
  margin-left: 10px;
}

.container {
  max-width: 900px;
  padding-top: 2%;
}

.jumbotron {
  margin-bottom: 0px;
}

.col {
  padding-left: 0px;
}

.col-xs-9 {
  padding-right: 1%;
}

.text-center {
  padding-top: 2%;
}

.row {
  border-style: solid;
}

.img-responsive {
  border-right: solid;
}

h5 {
  margin-top: 2%;
}